@import-normalize;
@import 'font.css';
@import 'buttons.css';
@import 'ingredient-list.css';
@import 'recipe-list.css';
@import 'recipe.css';
@import 'recipe-edit.css';

*, *::before, *::after {
  font-family: 'Roboto-Regular', sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
}

.mr-1 {
  margin-right: 5px;
}

.mr-3 {
  margin-bottom: 5px;
}
